Repository jfen12/recruiter-fy2yb7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @security-team, @analytics-team, @backend-leads, @recruiting-team, @sales-team, @platform-team, @frontend-team, @ui-leads, @devops-leads, @qa-team, @technical-writers, @database-team, @legal-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/middleware/auth.middleware.ts
  src/backend/services/crm/src/middleware/auth.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/middleware/validation.middleware.ts
  src/backend/services/crm/src/middleware/validation.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/models/client.model.ts
  src/backend/services/crm/src/models/client.model.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/models/communication.model.ts
  src/backend/services/crm/src/models/communication.model.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/routes/client.routes.ts
  src/backend/services/crm/src/routes/client.routes.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/routes/communication.routes.ts
  src/backend/services/crm/src/routes/communication.routes.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/services/clientService.ts
  src/backend/services/crm/src/services/clientService.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/services/communicationService.ts
  src/backend/services/crm/src/services/communicationService.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/utils/validation.ts
  src/backend/services/crm/src/utils/validation.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/tests/integration/client.test.ts
  src/backend/services/crm/tests/integration/client.test.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/tests/unit/clientService.test.ts
  src/backend/services/crm/tests/unit/clientService.test.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/Dockerfile
  src/backend/services/gateway/Dockerfile
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/README.md
  src/backend/services/gateway/README.md
Owners: @platform-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/package.json
  src/backend/services/gateway/package.json
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/tsconfig.json
  src/backend/services/gateway/tsconfig.json
Owners: @platform-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/src/config/gateway.ts
  src/backend/services/gateway/src/config/gateway.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/src/config/redis.ts
  src/backend/services/gateway/src/config/redis.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/src/middleware/auth.middleware.ts
  src/backend/services/gateway/src/middleware/auth.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/src/middleware/rateLimit.middleware.ts
  src/backend/services/gateway/src/middleware/rateLimit.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/src/routes/gateway.routes.ts
  src/backend/services/gateway/src/routes/gateway.routes.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/src/services/authService.ts
  src/backend/services/gateway/src/services/authService.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/src/utils/security.ts
  src/backend/services/gateway/src/utils/security.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/gateway/tests/integration/gateway.test.ts
  src/backend/services/gateway/tests/integration/gateway.test.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/Dockerfile
  src/backend/services/requisition/Dockerfile
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/README.md
  src/backend/services/requisition/README.md
Owners: @recruiting-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/package.json
  src/backend/services/requisition/package.json
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/tsconfig.json
  src/backend/services/requisition/tsconfig.json
Owners: @recruiting-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/config/database.ts
  src/backend/services/requisition/src/config/database.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/config/redis.ts
  src/backend/services/requisition/src/config/redis.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/controllers/requisitionController.ts
  src/backend/services/requisition/src/controllers/requisitionController.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/controllers/skillMatchController.ts
  src/backend/services/requisition/src/controllers/skillMatchController.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/interfaces/requisition.interface.ts
  src/backend/services/requisition/src/interfaces/requisition.interface.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/middleware/auth.middleware.ts
  src/backend/services/requisition/src/middleware/auth.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/middleware/validation.middleware.ts
  src/backend/services/requisition/src/middleware/validation.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/models/requisition.model.ts
  src/backend/services/requisition/src/models/requisition.model.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/routes/requisition.routes.ts
  src/backend/services/requisition/src/routes/requisition.routes.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/services/matchingService.ts
  src/backend/services/requisition/src/services/matchingService.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/services/requisitionService.ts
  src/backend/services/requisition/src/services/requisitionService.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/src/utils/validation.ts
  src/backend/services/requisition/src/utils/validation.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/tests/integration/requisition.test.ts
  src/backend/services/requisition/tests/integration/requisition.test.ts
Owners: @platform-leads, @security-team

.github/CODEOWNERS:

# This file defines mandatory reviewers for different parts of the codebase
# Format: pattern    @owner1 @owner2

# Default owners for everything in the repo (if not overridden below)
*    @platform-leads @security-team

# Backend Services
src/backend/services/analytics/*    @analytics-team @backend-leads @security-team
src/backend/services/candidate/*    @recruiting-team @backend-leads @security-team
src/backend/services/crm/*    @sales-team @backend-leads @security-team
src/backend/services/requisition/*    @recruiting-team @backend-leads @security-team
src/backend/services/gateway/*    @platform-team @backend-leads @security-team

# Frontend Application
src/web/*    @frontend-team @ui-leads @security-team

# Infrastructure and DevOps
infrastructure/*    @platform-team @devops-leads @security-team
.github/workflows/*    @platform-team @devops-leads @security-team
**/Dockerfile    @platform-team @security-team

# Security Configurations
config/security/*    @security-team @platform-leads

# API Definitions
**/*.proto    @backend-leads @security-team

# Test Code
**/test/**    @qa-team @security-team

# Documentation
docs/*    @technical-writers @platform-leads

# Package Dependencies
package.json    @platform-team @security-team
package-lock.json    @platform-team @security-team
yarn.lock    @platform-team @security-team

# Database Migrations
**/migrations/*    @database-team @security-team

# Security-sensitive Areas
**/auth/**    @security-team @backend-leads
**/encryption/**    @security-team @backend-leads
**/credentials/**    @security-team @platform-leads

# Configuration Files
*.config.js    @platform-team @security-team
*.conf    @platform-team @security-team
*.yml    @platform-team @security-team
*.yaml    @platform-team @security-team

# Ensure Security Team Reviews All Environment Files
.env*    @security-team @platform-leads
**/config/*    @platform-team @security-team

# Legal and Compliance
LICENSE    @legal-team @security-team
SECURITY.md    @security-team
