Repository jfen12/recruiter-fy2yb7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @security-team, @analytics-team, @backend-leads, @recruiting-team, @sales-team, @platform-team, @frontend-team, @ui-leads, @devops-leads, @qa-team, @technical-writers, @database-team, @legal-team

Add public-samples/recruiter-fy2yb7/infrastructure/scripts/ssl-setup.sh
  infrastructure/scripts/ssl-setup.sh
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/provider.tf
  infrastructure/terraform/provider.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/kubernetes/main.tf
  infrastructure/terraform/modules/kubernetes/main.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/kubernetes/outputs.tf
  infrastructure/terraform/modules/kubernetes/outputs.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/kubernetes/variables.tf
  infrastructure/terraform/modules/kubernetes/variables.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @platform-leads

Add public-samples/recruiter-fy2yb7/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/README.md
  src/backend/README.md
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/lerna.json
  src/backend/lerna.json
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/package.json
  src/backend/package.json
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/Dockerfile
  src/backend/services/analytics/Dockerfile
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/README.md
  src/backend/services/analytics/README.md
Owners: @analytics-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/pyproject.toml
  src/backend/services/analytics/pyproject.toml
Owners: @analytics-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/requirements.txt
  src/backend/services/analytics/requirements.txt
Owners: @analytics-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/config/database.py
  src/backend/services/analytics/src/config/database.py
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/config/elasticsearch.py
  src/backend/services/analytics/src/config/elasticsearch.py
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/controllers/analytics_controller.py
  src/backend/services/analytics/src/controllers/analytics_controller.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/controllers/reporting_controller.py
  src/backend/services/analytics/src/controllers/reporting_controller.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/interfaces/analytics_types.py
  src/backend/services/analytics/src/interfaces/analytics_types.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/middleware/auth_middleware.py
  src/backend/services/analytics/src/middleware/auth_middleware.py
Owners: @platform-leads, @security-team

.github/CODEOWNERS:

# This file defines mandatory reviewers for different parts of the codebase
# Format: pattern    @owner1 @owner2

# Default owners for everything in the repo (if not overridden below)
*    @platform-leads @security-team

# Backend Services
src/backend/services/analytics/*    @analytics-team @backend-leads @security-team
src/backend/services/candidate/*    @recruiting-team @backend-leads @security-team
src/backend/services/crm/*    @sales-team @backend-leads @security-team
src/backend/services/requisition/*    @recruiting-team @backend-leads @security-team
src/backend/services/gateway/*    @platform-team @backend-leads @security-team

# Frontend Application
src/web/*    @frontend-team @ui-leads @security-team

# Infrastructure and DevOps
infrastructure/*    @platform-team @devops-leads @security-team
.github/workflows/*    @platform-team @devops-leads @security-team
**/Dockerfile    @platform-team @security-team

# Security Configurations
config/security/*    @security-team @platform-leads

# API Definitions
**/*.proto    @backend-leads @security-team

# Test Code
**/test/**    @qa-team @security-team

# Documentation
docs/*    @technical-writers @platform-leads

# Package Dependencies
package.json    @platform-team @security-team
package-lock.json    @platform-team @security-team
yarn.lock    @platform-team @security-team

# Database Migrations
**/migrations/*    @database-team @security-team

# Security-sensitive Areas
**/auth/**    @security-team @backend-leads
**/encryption/**    @security-team @backend-leads
**/credentials/**    @security-team @platform-leads

# Configuration Files
*.config.js    @platform-team @security-team
*.conf    @platform-team @security-team
*.yml    @platform-team @security-team
*.yaml    @platform-team @security-team

# Ensure Security Team Reviews All Environment Files
.env*    @security-team @platform-leads
**/config/*    @platform-team @security-team

# Legal and Compliance
LICENSE    @legal-team @security-team
SECURITY.md    @security-team
