Repository jfen12/recruiter-fy2yb7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @security-team, @analytics-team, @backend-leads, @recruiting-team, @sales-team, @platform-team, @frontend-team, @ui-leads, @devops-leads, @qa-team, @technical-writers, @database-team, @legal-team

.github/CODEOWNERS:

# This file defines mandatory reviewers for different parts of the codebase
# Format: pattern    @owner1 @owner2

# Default owners for everything in the repo (if not overridden below)
*    @platform-leads @security-team

# Backend Services
src/backend/services/analytics/*    @analytics-team @backend-leads @security-team
src/backend/services/candidate/*    @recruiting-team @backend-leads @security-team
src/backend/services/crm/*    @sales-team @backend-leads @security-team
src/backend/services/requisition/*    @recruiting-team @backend-leads @security-team
src/backend/services/gateway/*    @platform-team @backend-leads @security-team

# Frontend Application
src/web/*    @frontend-team @ui-leads @security-team

# Infrastructure and DevOps
infrastructure/*    @platform-team @devops-leads @security-team
.github/workflows/*    @platform-team @devops-leads @security-team
**/Dockerfile    @platform-team @security-team

# Security Configurations
config/security/*    @security-team @platform-leads

# API Definitions
**/*.proto    @backend-leads @security-team

# Test Code
**/test/**    @qa-team @security-team

# Documentation
docs/*    @technical-writers @platform-leads

# Package Dependencies
package.json    @platform-team @security-team
package-lock.json    @platform-team @security-team
yarn.lock    @platform-team @security-team

# Database Migrations
**/migrations/*    @database-team @security-team

# Security-sensitive Areas
**/auth/**    @security-team @backend-leads
**/encryption/**    @security-team @backend-leads
**/credentials/**    @security-team @platform-leads

# Configuration Files
*.config.js    @platform-team @security-team
*.conf    @platform-team @security-team
*.yml    @platform-team @security-team
*.yaml    @platform-team @security-team

# Ensure Security Team Reviews All Environment Files
.env*    @security-team @platform-leads
**/config/*    @platform-team @security-team

# Legal and Compliance
LICENSE    @legal-team @security-team
SECURITY.md    @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/requisition/tests/unit/requisitionService.test.ts
  src/backend/services/requisition/tests/unit/requisitionService.test.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/proto/analytics.proto
  src/backend/services/shared/proto/analytics.proto
Owners: @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/proto/candidate.proto
  src/backend/services/shared/proto/candidate.proto
Owners: @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/proto/crm.proto
  src/backend/services/shared/proto/crm.proto
Owners: @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/proto/requisition.proto
  src/backend/services/shared/proto/requisition.proto
Owners: @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/schemas/analytics.schema.ts
  src/backend/services/shared/schemas/analytics.schema.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/schemas/candidate.schema.ts
  src/backend/services/shared/schemas/candidate.schema.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/schemas/client.schema.ts
  src/backend/services/shared/schemas/client.schema.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/schemas/requisition.schema.ts
  src/backend/services/shared/schemas/requisition.schema.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/types/common.types.ts
  src/backend/services/shared/types/common.types.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/utils/logger.ts
  src/backend/services/shared/utils/logger.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/utils/metrics.ts
  src/backend/services/shared/utils/metrics.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/shared/utils/tracing.ts
  src/backend/services/shared/utils/tracing.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/.env.example
  src/web/.env.example
Owners: @security-team, @platform-leads

Add public-samples/recruiter-fy2yb7/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/Dockerfile
  src/web/Dockerfile
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/package.json
  src/web/package.json
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @ui-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/api/analytics.ts
  src/web/src/api/analytics.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/api/auth.ts
  src/web/src/api/auth.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/api/candidates.ts
  src/web/src/api/candidates.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/api/clients.ts
  src/web/src/api/clients.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/api/requisitions.ts
  src/web/src/api/requisitions.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/components/analytics/AnalyticsDashboard.tsx
  src/web/src/components/analytics/AnalyticsDashboard.tsx
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/components/analytics/MetricsCard.tsx
  src/web/src/components/analytics/MetricsCard.tsx
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/components/analytics/PerformanceChart.tsx
  src/web/src/components/analytics/PerformanceChart.tsx
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/components/analytics/ReportGenerator.tsx
  src/web/src/components/analytics/ReportGenerator.tsx
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @security-team, @backend-leads
