Repository jfen12/recruiter-fy2yb7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @security-team, @analytics-team, @backend-leads, @recruiting-team, @sales-team, @platform-team, @frontend-team, @ui-leads, @devops-leads, @qa-team, @technical-writers, @database-team, @legal-team

.github/CODEOWNERS:

# This file defines mandatory reviewers for different parts of the codebase
# Format: pattern    @owner1 @owner2

# Default owners for everything in the repo (if not overridden below)
*    @platform-leads @security-team

# Backend Services
src/backend/services/analytics/*    @analytics-team @backend-leads @security-team
src/backend/services/candidate/*    @recruiting-team @backend-leads @security-team
src/backend/services/crm/*    @sales-team @backend-leads @security-team
src/backend/services/requisition/*    @recruiting-team @backend-leads @security-team
src/backend/services/gateway/*    @platform-team @backend-leads @security-team

# Frontend Application
src/web/*    @frontend-team @ui-leads @security-team

# Infrastructure and DevOps
infrastructure/*    @platform-team @devops-leads @security-team
.github/workflows/*    @platform-team @devops-leads @security-team
**/Dockerfile    @platform-team @security-team

# Security Configurations
config/security/*    @security-team @platform-leads

# API Definitions
**/*.proto    @backend-leads @security-team

# Test Code
**/test/**    @qa-team @security-team

# Documentation
docs/*    @technical-writers @platform-leads

# Package Dependencies
package.json    @platform-team @security-team
package-lock.json    @platform-team @security-team
yarn.lock    @platform-team @security-team

# Database Migrations
**/migrations/*    @database-team @security-team

# Security-sensitive Areas
**/auth/**    @security-team @backend-leads
**/encryption/**    @security-team @backend-leads
**/credentials/**    @security-team @platform-leads

# Configuration Files
*.config.js    @platform-team @security-team
*.conf    @platform-team @security-team
*.yml    @platform-team @security-team
*.yaml    @platform-team @security-team

# Ensure Security Team Reviews All Environment Files
.env*    @security-team @platform-leads
**/config/*    @platform-team @security-team

# Legal and Compliance
LICENSE    @legal-team @security-team
SECURITY.md    @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/models/analytics_model.py
  src/backend/services/analytics/src/models/analytics_model.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/routes/analytics_routes.py
  src/backend/services/analytics/src/routes/analytics_routes.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/services/analytics_service.py
  src/backend/services/analytics/src/services/analytics_service.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/services/etl_service.py
  src/backend/services/analytics/src/services/etl_service.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/src/utils/data_processing.py
  src/backend/services/analytics/src/utils/data_processing.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/tests/integration/analytics_test.py
  src/backend/services/analytics/tests/integration/analytics_test.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/analytics/tests/unit/analytics_service_test.py
  src/backend/services/analytics/tests/unit/analytics_service_test.py
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/Dockerfile
  src/backend/services/candidate/Dockerfile
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/README.md
  src/backend/services/candidate/README.md
Owners: @recruiting-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/package.json
  src/backend/services/candidate/package.json
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/tsconfig.json
  src/backend/services/candidate/tsconfig.json
Owners: @recruiting-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/config/database.ts
  src/backend/services/candidate/src/config/database.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/config/elasticsearch.ts
  src/backend/services/candidate/src/config/elasticsearch.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/config/redis.ts
  src/backend/services/candidate/src/config/redis.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/controllers/candidateController.ts
  src/backend/services/candidate/src/controllers/candidateController.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/controllers/skillController.ts
  src/backend/services/candidate/src/controllers/skillController.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/interfaces/candidate.interface.ts
  src/backend/services/candidate/src/interfaces/candidate.interface.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/interfaces/skill.interface.ts
  src/backend/services/candidate/src/interfaces/skill.interface.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/middleware/auth.middleware.ts
  src/backend/services/candidate/src/middleware/auth.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/middleware/validation.middleware.ts
  src/backend/services/candidate/src/middleware/validation.middleware.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/models/candidate.model.ts
  src/backend/services/candidate/src/models/candidate.model.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/models/skill.model.ts
  src/backend/services/candidate/src/models/skill.model.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/routes/candidate.routes.ts
  src/backend/services/candidate/src/routes/candidate.routes.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/routes/skill.routes.ts
  src/backend/services/candidate/src/routes/skill.routes.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/services/candidateService.ts
  src/backend/services/candidate/src/services/candidateService.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/services/searchService.ts
  src/backend/services/candidate/src/services/searchService.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/utils/encryption.ts
  src/backend/services/candidate/src/utils/encryption.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/src/utils/validation.ts
  src/backend/services/candidate/src/utils/validation.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/tests/integration/candidate.test.ts
  src/backend/services/candidate/tests/integration/candidate.test.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/candidate/tests/unit/candidateService.test.ts
  src/backend/services/candidate/tests/unit/candidateService.test.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/Dockerfile
  src/backend/services/crm/Dockerfile
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/README.md
  src/backend/services/crm/README.md
Owners: @sales-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/package.json
  src/backend/services/crm/package.json
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/tsconfig.json
  src/backend/services/crm/tsconfig.json
Owners: @sales-team, @backend-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/config/database.ts
  src/backend/services/crm/src/config/database.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/config/redis.ts
  src/backend/services/crm/src/config/redis.ts
Owners: @platform-team, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/controllers/clientController.ts
  src/backend/services/crm/src/controllers/clientController.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/controllers/communicationController.ts
  src/backend/services/crm/src/controllers/communicationController.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/interfaces/client.interface.ts
  src/backend/services/crm/src/interfaces/client.interface.ts
Owners: @platform-leads, @security-team

Add public-samples/recruiter-fy2yb7/src/backend/services/crm/src/interfaces/communication.interface.ts
  src/backend/services/crm/src/interfaces/communication.interface.ts
Owners: @platform-leads, @security-team
